.container {
  background-color: yellow;
  padding: 50px;
}

.list {
  margin: 0 auto;
  width: 400px;
  height: 500px;
  padding: 12px;
  background-color: red;
  border-radius: 8px;
  overflow-y: auto;
  transform: all 1s;
  opacity: 0;
}

.list_item {
  height: 51px;
  margin-bottom: 12px;
  background-color: green;
  border-radius: 8px;
}

/* .list_item:first-child {
  background-color: aqua;
}



.list_item:last-child {
  background-color: rgb(24, 9, 157);
} */

/* .list_item:first-child {
  background-color: aqua;
} */

/* .list_item:nth-child(2) {
  background-color: rgb(24, 9, 157);
} */

/* .list_item:nth-child(even) {
  background-color: rgb(24, 9, 157);
} */

/* .list_item:nth-child(odd) {
  background-color: rgb(24, 9, 157);
} */

/* .list_item:nth-child(n + 2) {
  background-color: rgb(24, 9, 157);
} */

.list_item:not(:last-child) {
  margin-bottom: 12px;
}

.list_item:hover {
  background-color: orange;
}

.btn {
  padding: 8px 12px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn:active {
  background-color: rgb(2, 91, 2);
  transform: scale(0.95);
}

.btn:disabled {
  background-color: rgb(152, 152, 152);
}

/* input[name="fullname"] {
  background-color: aqua;
}

input[name="fullname"]:focus {
  background-color: rgb(29, 35, 200);
} */

input {
  background-color: aqua;
}

input:focus {
  background-color: rgb(29, 35, 200);
  color: #fff;
}

input[name="gender"] + p {
  color: rgb(1, 156, 156);
}

/* input[name="gender"]:checked + p {
  color: red;
} */

input[name="gender"]:checked + .list {
  opacity: 1;
  transform: all 1s;
}

.btn:disabled:active {
  transform: scale(1);
}
