<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style/reset.css" />
    <link rel="stylesheet" href="./style/global.css" />
    <title>Layout</title>
  </head>
  <body>
    <header class="header">
      <div class="container_lg">
        <div class="header_logo"></div>
        <nav class="header_nav"></nav>
      </div>
    </header>

    <main class="main">
      <div class="container_lg">
        <div></div>
        <aside></aside>
      </div>
    </main>

    <footer class="footer">
      <div class="container_lg"></div>
    </footer>
  </body>
</html>
