.header {
  background-color: var(--mainColor);
  height: 100px;
  display: flex;
  padding: var(--largePadding);
  align-items: center;
  box-shadow: var(--cardBoxShadow);
}

.logo img {
  width: 50px;
}
.desktop-menu {
  color: #ffff;
  display: flex;
  align-items: center;
}

.nav ul li {
  list-style: none;
  padding: var(--mediumPadding);
}

.nav-ham {
  display: none;
}

.container {
  color: var(--mainColor);
}

.card {
  width: var(--cardWidth);
}
