@import url("./reset.css");
@import url("./font.css");
@import url("./responsive.css");

body {
  font-family: "Roboto" sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px;
  height: 107px;
  font-family: "Open Sans", sans-serif;

  border-bottom: 1px solid #e7e7e7;
}

.logo_content {
  display: flex;
  align-items: center;
}

.logo_title {
  font-size: 32px;
  color: #303031;

  font-weight: 700;
  margin-left: 8px;
}

.navbar-list {
  display: flex;
  align-items: center;
}

.navbar-list_item a {
  color: #303031;
  font-size: 18px;
  font-weight: 600;
}

.navbar-list_item:not(:last-child) {
  margin-right: 40px;
}

.navbar-list_item:last-child a {
  color: #71a894;
  font-family: "Roboto" sans-serif !important;
  font-weight: 800;
}

.nav-ham {
  display: none;
  background-color: transparent;
  border: none;
}
